@charset "utf-8";
/* CSS Document */

.vrt-header{position:fixed;z-index:8010;top:0;right:0;left:0;-webkit-transition:height .2s,-webkit-transform .2s linear;transition:height .2s,-webkit-transform .2s linear;-o-transition:transform .2s linear,height .2s;transition:transform .2s linear,height .2s;transition:transform .2s linear,height .2s,-webkit-transform .2s linear;will-change:transform;background-color:#fff;border-bottom:1px solid #f1f2f4}
@media print,screen and (min-width:48em){.vrt-header{padding-bottom:-webkit-calc(1.75 * 16px);padding-bottom:calc(1.75 * 16px)}
}
.vrt-header::before{content:"96";display:none}
@media print,screen and (min-width:48em){.vrt-header::before{content:"148"}
}
@media print,screen and (min-width:64em){.vrt-header::before{content:"151"}
}
.vrt-header.js-header-not-top{-webkit-transform:translateY(-29px);-ms-transform:translateY(-29px);transform:translateY(-29px)}
.vrt-header.js-header-unpinned{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}
@media print,screen and (min-width:48em){.vrt-header.js-header-unpinned{-webkit-transform:translateY(-webkit-calc(-100% - 43px));-ms-transform:translateY(calc(-100% - 43px));transform:translateY(calc(-100% - 43px))}
}
@media print,screen and (min-width:64em){.vrt-header.js-header-unpinned{-webkit-transform:translateY(-webkit-calc(-100% - 45px));-ms-transform:translateY(calc(-100% - 45px));transform:translateY(calc(-100% - 45px))}
}
.vrt-header ~ .vrt-page{margin-top:96px;padding-top:16px}
@media print,screen and (min-width:48em){.vrt-header ~ .vrt-page{margin-top:148px;padding-top:-webkit-calc(1.25 * 16px);padding-top:calc(1.25 * 16px)}
}
@media print,screen and (min-width:64em){.vrt-header ~ .vrt-page{margin-top:151px;padding-top:-webkit-calc(2 * 16px);padding-top:calc(2 * 16px)}
}
@media print,screen and (min-width:48em){.vrt-header--has-subnav{border-bottom:0;padding-bottom:0}
}
@media print,screen and (min-width:48em){.vrt-header--has-subnav ~ .vrt-page{margin-top:191px}
}
@media print,screen and (min-width:64em){.vrt-header--has-subnav ~ .vrt-page{margin-top:196px}
}
.vrt-header .container{padding:0 .68em;margin:0 auto;width:100%;max-width:1440px}
@media screen and (min-width:64em) and (max-height:925px){.vrt-header .container{max-width:1200px}
}
@media screen and (min-width:90em){.vrt-header .container{padding:0 .34em}
}
.vrt-header__brands{background-color:#16284a;padding:-webkit-calc(.5 * 16px) 0 -webkit-calc(.25 * 16px);padding:calc(.5 * 16px) 0 calc(.25 * 16px)}
.vrt-header__widgets{display:none}
@media print,screen and (min-width:48em){.vrt-header__widgets{display:block;padding:-webkit-calc(1.25 * 16px) 0;padding:calc(1.25 * 16px) 0}
}
.vrt-header__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
@media print,screen and (max-width:47.99875em){.vrt-header__wrapper{padding:-webkit-calc(1.25 * 16px) 0;padding:calc(1.25 * 16px) 0;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
}
@media print,screen and (min-width:48em){.vrt-header__wrapper{position:relative;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}
.vrt-header--has-subnav .vrt-header__wrapper{padding-bottom:-webkit-calc(1.75 * 16px);padding-bottom:calc(1.75 * 16px)}
}
.vrt-header__wrapper .vrt-profile-button{margin-left:-webkit-calc(1.25 * 16px);margin-left:calc(1.25 * 16px)}
@media print,screen and (min-width:48em){.vrt-header__wrapper .vrt-profile-button{display:none}
}
.vrt-header__wrapper .vrt-profile-button__icon{width:1.5rem;height:1.5rem}
.vrt-header__wrapper .vrt-profile-button__label{display:none}
.vrt-header__brand{margin-right:auto}
@media print,screen and (min-width:48em) and (max-width:63.99875em){.vrt-header__brand{position:absolute;top:-40px}
}
@media print,screen and (min-width:48em){.vrt-header__brand{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:0}
}
.vrt-header__brand-name{display:none}
@media print,screen and (min-width:48em){.vrt-header__brand-name{display:block;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;margin-left:-webkit-calc(.5 * 16px);margin-left:calc(.5 * 16px);color:#6e788b;font-family:"Forma DJR Deck",Helvetica,Arial,sans-serif;font-size:1.25rem}
}
@media print,screen and (min-width:64em){.vrt-header__brand-name{margin-left:-webkit-calc(.75 * 16px);margin-left:calc(.75 * 16px);font-size:1.5rem}
}
.vrt-header__logo{display:block;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:102px;height:26px}
@media print,screen and (min-width:64em){.vrt-header__logo{width:125px;height:33px}
}
.vrt-header__logo svg{display:block;width:100%;height:100%}
.vrt-header__search-btn{background-color:#f1f2f4;color:#16284a;font-size:1.125rem}
.vrt-header__search-btn svg{fill:#16284a}
@media print,screen and (max-width:47.99875em){.vrt-header__search-btn{padding:0;background-color:transparent}
.vrt-header__search-btn span{display:none}
}
@media print,screen and (min-width:48em){.vrt-header__search-btn{padding-left:16px;padding-right:16px;margin-left:-webkit-calc(1.25 * 16px);margin-left:calc(1.25 * 16px);margin-bottom:-.5rem}
}
@media print,screen and (min-width:64em){.vrt-header__search-btn{font-size:1.5rem}
}
@media screen and (min-width:75em){.vrt-header__search-btn{margin-left:-webkit-calc(1.5 * 16px);margin-left:calc(1.5 * 16px)}
}
@media print,screen and (max-width:47.99875em){.vrt-header__search-btn.active svg{fill:#2396cd}
}
@media print,screen and (min-width:48em){.vrt-header__search-btn.active{background-color:#2396cd;color:#fff}
.vrt-header__search-btn.active svg{fill:#fff}
}
.vrt-header__search-btn .icon{width:1.375rem;height:1.375rem;margin-left:0}
@media print,screen and (max-width:47.99875em){.vrt-header__search-btn .icon{margin-top:0}
}
@media print,screen and (min-width:48em){.vrt-header__search-btn .icon{margin-right:-webkit-calc(.5 * 16px);margin-right:calc(.5 * 16px)}
}
.vrt-nav-toggle{display:none}
.vrt-nav-toggle:checked ~ .vrt-header{bottom:0;border-bottom:0}
.vrt-nav-toggle:checked ~ .vrt-header .vrt-nav-primary{display:block}
.vrt-nav-toggle:checked ~ .vrt-header .vrt-nav-toggle-btn__inner{-webkit-transform:translate3d(0,0.5rem,0) rotate(45deg);transform:translate3d(0,0.5rem,0) rotate(45deg)}
.vrt-nav-toggle:checked ~ .vrt-header .vrt-nav-toggle-btn__inner::before{-webkit-transform:rotate(-45deg) translate3d(-6px,-6px,0);transform:rotate(-45deg) translate3d(-6px,-6px,0);opacity:0}
.vrt-nav-toggle:checked ~ .vrt-header .vrt-nav-toggle-btn__inner::after{-webkit-transform:translate3d(0,-1rem,0) rotate(-90deg);transform:translate3d(0,-1rem,0) rotate(-90deg)}

